*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: block;
    font-family: Verdana;
    background-color: lightblue;
}

h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: 0.20em;
    color: navy;
}

h2 {
    color: navy;
    font-size: 30px;
    text-align: center;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 10px 20px 0 rgba(10,0,0,10);
    transition: 0.5s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.flex-container {
    background-color: aliceblue;
    font-family: Verdana;
    letter-spacing: 0.02em;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;


}

.button {
    background-color: navy;
    border: white;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.02em;
    font-family: Chalkboard;
    font-size: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    
}

.box {
    display: block;
    float: inside;
    width: 20%;
    height: 80px;
    margin: 1%;
    cursor: pointer;
    object-fit: contain;
    border-radius: 12px;
    background-color: darkslateblue;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    color: white;
    font-family: Chalkboard;
}

@media (max-width: 740px) {
    .box {
        width: 58%;
    }
}

